.resultTable {
    padding-top: 4px;
    width: 220px;
    display: inline-block;
    box-sizing: border-box;
    height: 38px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    border-bottom: #090909 1px solid;
}

.bold div {
    font-weight: bolder;
}